<div class="login">
  <div class="login-head">
    <h2>編集する</h2>
  </div>

  <%= form_with model: @post, local: true, class: "form" do |f| %>
    <div class="form-group text-center">
      <%= image_tag @post.get_image, class: "rounded-circle profile-img" %>
    </div>
    <div class="form-group">
      <%= f.file_field :image, accept: "image/*" %>
    </div>
    <div class="form-group" style="margin: 0">
      <%= f.text_field :name, placeholder: "商品名", class: "form-input" %>
    </div>
    <div class="form-group" style="margin: 0">
      <%= f.select :genre_id, options_from_collection_for_select(Genre.all, :id, :name) %>
    </div>
    <div class="form-group" style="margin: 0">
      <%= f.text_area :introduction, placeholder: "商品説明", class: "form-input", rows: 5 %>
    </div>
    <div class="form-group" style="margin: 0">
      <%= f.text_field :price, placeholder: "金額（半角）を入力", class: "form-input" %>
    </div>
    <%= f.submit "変更する", class: "login-btn" %>
  <% end %>
</div>
