<div class="container px-0">
  <div class="row">
    <div class="col-8 col-md-8 col-sm-10 mx-auto px-0 my-5">
      <table class="table table-show">
        <tr>
          <td class="text-center">
            <%# if current_user == @post.user || current_user == @order.user %>
            <% if current_user == @post.user %>
              <%= image_tag @post.get_image, class: "user-post-img" %>
            <% else %>
              <%= image_tag @post.get_image, class: "post-img" %>
            <% end %>
          </td>
        </tr>
        <tr>
          <td>
            <div class="explanation">商品名</div>
            <div class="info"><%= @post.name %></div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="explanation">商品説明</div>
            <div class="info" style="white-space: pre-wrap"><%= @post.introduction %></div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="explanation">商品ジャンル</div>
            <div class="info"><%= @post.genre.name %></div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="explanation">商品価格</div>
            <div class="info">￥<%= @post.price.to_s(:delimited) %></div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="explanation">出品者</div>
            <div class="info" style="padding: 10px">
              <%= link_to user_path(@post.user), class: "text-dark" do %>
                <%= image_tag @post.user.get_profile_image, class: "rounded-circle users-img" %>
                <%= @post.user.screen_name %><br>
                <%= @post.user.introduction %>
              <% end %>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="explanation text-right" style="padding: 10px">
              <% if current_user == @post.user %>
                <%= link_to post_path, method: :delete, data: {confirm: "本当に削除しますか？"}, class: "btn btn-danger" do %>
                  <i class="fa-solid fa-trash-can"></i> 削除する
                <% end %>
                <%= link_to edit_post_path(@post), class: "btn btn-info" do %>
                  <i class="fa-solid fa-pen-to-square"></i> 編集する
                <% end %>
              <%# elsif current_user == @order.user %>
                <!--購入済みです-->
              <% else %>
                <%= link_to post_orders_path(@post.id), class: "btn btn-info" do %>
                  <i class="fa-solid fa-cart-arrow-down"></i> 購入する
                <% end %>
              <% end %>
            </div>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
