<div class="container px-0">
  <div class="row">
    <div class="col-8 col-md-8 col-sm-10 mx-auto px-0 my-5">
      <table class="table table-show">
        <tr>
          <td class="text-center">
            <% if current_user == @post.user %>
              <%= image_tag @post.get_image, class: "user-post-img" %>
            <% else %>
              <%= image_tag @post.get_image, class: "post-img" %>
            <% end %>
          </td>
        </tr>
        <tr>
          <td>
            <div class="explanation">商品名</div>
            <div class="info"><%= @post.name %></div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="explanation">商品説明</div>
            <div class="info" style="white-space: pre-wrap"><%= @post.introduction %></div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="explanation">商品ジャンル</div>
            <div class="info"><%= @post.genre.name %></div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="explanation">商品価格</div>
            <div class="info">￥<%= @post.price.to_s(:delimited) %></div>
          </td>
        </tr>
      </table>
    </div>
  </div>
    <div>
      <%#= form_with model: @order, url: post_orders_path(@post) do |f| %>
        <%#= f.hidden_field :user_id %>
        <%#= f.hidden_field :post_id %>
        <%#= f.submit "購入する" %>
      <%# end %>
      <%= link_to "購入する", post_orders_path(@post.id) %>
    </div>
    <%= link_to "編集する", edit_post_path(@post) %><br>
    <%= link_to "削除する", post_path, method: :delete %>
</div>
