<div class="container px-0">
  <div class="row">
    <div class="col-11 col-md-11 col-sm-12 mx-auto px-0 my-5">
        <%= @post.name %><br>
        <%= @post.introduction %><br>
        <%= @post.genre.name %><br>
        <%= @post.price %>
    </div>
  </div>
  <%= link_to "編集する", edit_post_path(@post) %>
</div>
