<div class="container px-3">
  <div class="row">
    <div class="col-12 col-md-12 col-sm-12 mx-auto px-0 my-5">
      <%= form_with model: @genre, url: admin_genre_path(@genre), local: true do |f| %>
        <%= f.label :ジャンル名 %><br>
        <%= f.text_field :name %><br>
        <%= link_to "キャンセル", admin_genres_path %>
        <%= f.submit "変更する" %>
      <% end %>
    </div>
  </div>
</div>
