<div class="container px-3">
  <div class="row">
    <div class="col-12 col-md-12 col-sm-12 mx-auto px-0 my-5">
    <div class="mx-3"><h3 class="mb-4 mini-title">出品一覧</h3></div>

      <table class="table table-hover table-inverse table-show">
        <thead>
          <tr>
            <th width="10%">商品ID</th>
            <th>商品画像</th>
            <th>商品名</th>
            <th>金額</th>
            <th>出品者</th>
            <th width="10%">詳細</th>
          </tr>
        </thead>
        <tbody>
        <% @posts.each do |post| %>
          <tr>
            <td><%= post.id %></td>
            <td><%= image_tag post.get_image, class: "post-mini-img" %></td>
            <td><%= post.name %></td>
            <td><%= post.price %></td>
            <td><%= post.user.screen_name %></td>
            <td><%= link_to "詳細", admin_post_path(post), class: "btn btn-secondary btn-sm" %></td>
          </tr>
        <% end %>
        </tbody>
      </table>

    </div>
  </div>
</div>