<div class="container px-3">
  <div class="row">
    <div class="col-12 col-md-12 col-sm-12 mx-auto px-0 my-5">
    <div class="mx-3"><h3 class="mb-4 mini-title">ユーザー詳細</h3></div>
      <table class="table table-show">
        <tr>
          <td class="text-center">
            <%= image_tag @user.get_profile_image, class: "profile-img rounded-circle" %>
          </td>
        </tr>
        <tr>
          <td>
            <div class="explanation">会員ID</div>
            <div class="info"><%= @user.id %></div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="explanation">氏名</div>
            <div class="info"><%= @user.name %></div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="explanation">ニックネーム</div>
            <div class="info"><%= @user.screen_name %></div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="explanation">メールアドレス</div>
            <div class="info"><%= @user.email %></div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="explanation">自己紹介</div>
            <div class="info" style="white-space: pre-wrap"><%= @user.introduction %></div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="explanation">会員ステータス</div>
            <div class="info">
              <% if @user.active_for_authentication? %>
                <strong class="text-info">有効</strong>
              <% else %>
                <strong class="text-warning">退会</strong>
              <% end %>
            </div>
          </td>
        </tr>
      </table>
      <%= link_to "会員情報変更", edit_admin_user_path(@user), class: "btn btn-light" %>
    </div>
  </div>
</div>
