<div class="container px-0">
  <div class="row">
    <div class="col-11 col-md-11 col-sm-12 mx-auto px-0 my-5">
      <table class="table table-show">
        <thead>
          <tr class="bg-light">
            <th colspan="4"></th>
          </tr>
        </thead>
        <tbody>
        <% users.each do |user| %>
          <tr style="cursor: pointer" onclick="window.location.href='<%= user_path(user) %>'" onmouseover="this.style.backgroundColor='#dcdcdc'" onmouseout="this.style.backgroundColor='#fff'">
            <td width="10%"><%= image_tag user.get_profile_image, class: "rounded-circle users-img" %></td>
            <td width="20%"><%= user.screen_name %></td>
            <td><%= user.introduction %></td>
            <td width="24%"><%= render "public/relationships/btn", user: user %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
