<div class="container px-0">
  <div class="row">
    <div class="col-8 col-md-8 col-sm-12 mx-auto px-0 my-5">
      <table class="table">
        <tr>
          <td rowspan="2" width="30%">
            <%= image_tag @user.get_profile_image, class: "rounded-circle profile-img" %>
          </td>
          <td><%= @user.screen_name %></td>
          <td>
            <%= render "public/relationships/btn", user: @user %>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <% if @user == current_user %>
              <%= link_to user_orders_path(@user), class: "btn btn-outline-dark" do %>
                <i class="fa-solid fa-bag-shopping"></i> 購入履歴
              <% end %>
              <%= link_to user_orders_path(@user), class: "btn btn-outline-dark" do %>
                <i class="fa-solid fa-coins"></i> 販売履歴
              <% end %>
              <%= link_to destroy_user_session_path, method: :delete, class: "btn btn-outline-dark" do %>
                <i class="fa-solid fa-right-from-bracket"></i> ログアウト
              <% end %>
            <% end %>
          </td>
        </tr>
        <tr>
          <td colspan="3" style="white-space: pre-wrap"><%= @user.introduction %></td>
        </tr>
      </table>
    </div>
    <div class="col-11 col-md-11 col-sm-12 mx-auto px-0 my-5">
      <div>
        <%= render "public/posts/index", posts: @posts %>
      </div>
    </div>
  </div>
</div>
